import Anxx{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Anxx{{properCase name}}',
  component: Anxx{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Anxx{{properCase name}} },
  template: `
    <div>
      <Anxx-{{name}}></Anxx-{{name}}>
    </div>
  `
})